body{
    color: white;
    border: 1.5rem outset rgb(236, 21, 243);
    box-shadow: 0 0 0 2rem rgba(192, 192, 192, 0.962);
    border-radius: 20px;
    font: bold 1rem sans-serif;
    margin: 2rem;
    padding: 6rem;
    outline-offset: 1.5rem;
    font-size: 30px;
    background: rgba(0, 0, 0, 0.825);
    font-family: cursive;
    
    
  }

form{
  font-size: 15px;;
  margin-left: 350px;
  margin-top: -25px;
  
 
}
  
  
  h1{
    font-size: 50px;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  }
  h2{
    color:white;
      
  }




  
  
  
  
