<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="/css/app2.css" />
  </head>

  <body>
    <h1 class="glow">Welcome to the Shoe Finder</h1>

    <nav>
      <a href="/users/signup">Sign Up</a>
      <a href="/users/login">Log In</a>
    </nav>
  </body>
</html>